*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(252, 247, 255);
    align-items: center;
    overflow-x: hidden;
    flex-direction: column;
    
}

.fix{
    margin-left: 20px;
    display: grid;
    grid-template-columns: 30% 67%;
    gap: 10px;
}

.employe-containe{
    display: flex;
    flex-direction: column;
}

.employe-container,.zones{
    background-color: white;
    border-radius: 30px;
    box-shadow: 3px 3px 20px 3px rgb(0, 0, 0, 0.3);
}
.employees{
    margin-top: 10px;
    height: 490px;
    overflow-y: auto;
    overflow: scroll;
    overflow-x: hidden;
}

.add-employee{
    background-color: rgb(0, 180, 69);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    width: 70px;
    height: 25px;
    border-radius: 5px;
}


.employee{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px 10px;
}

.edit{
    background: none;
    border: none;
    color: orange;
    cursor: pointer;
}

.rooms{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px 0px;
}

.zone{
    border: 1px solid black;
    padding: 20px 20px;
    border-radius: 30px;
    height: 224px;
    width: 354px;
    background-image: linear-gradient(to right, rgb(255, 220, 220), white);
}

.background{
    display: none;
    position: fixed;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900px;
    background-color: rgb(0, 0, 0, 0.4);
}

.input{
    display: none;
    border: 2px solid black;
    background-color: rgb(240, 240, 240);
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1000px;
    width: 350px;
    left: 50%;
    top: 50%;
    padding: 20px;
    border-radius: 10px;
}

input{
    margin: 10px;
    width: 300px;
    border: none;
    background-color: rgb(255, 255, 255);
    height: 30px;
    border-radius: 30px;
    padding-left: 10px;
}

select{
    margin: 10px;
    width: 300px;
    border: none;
    background-color: rgb(255, 255, 255);
    height: 30px;
    border-radius: 30px;
    padding-left: 10px;
}

#add{
    background: green;
    border: none;
    color: white;
    cursor: pointer;
    height: 20px;
    width: 60px;
    border-radius: 5px;
}

#cancel{
    background: red;
    border: none;
    color: white;
    cursor: pointer;
    height: 20px;
    width: 60px;
    border-radius: 5px;
}

.btnofpower{
    display: flex;
    gap: 10px;
    justify-content: end;
}

.info{
    display: hidden;
    display: none;
    border: 2px solid black;
    background-color: rgb(240, 240, 240);
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1000px;
    width: 350px;
    left: 50%;
    top: 50%;
    padding: 20px;
    border-radius: 10px;
}

.theinfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.theinfo h4{
    font-weight: bolder;
}

.quit{
    background: red;
    border: none;
    color: white;
    cursor: pointer;
    height: 20px;
    width: 60px;
}

h2{
    margin: 0;
}

#zonning {
    display: none;
    display: none;
    border: 2px solid black;
    background-color: rgb(240, 240, 240);
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1000px;
    width: 350px;
    left: 50%;
    top: 50%;
    padding: 20px;
    border-radius: 10px;
}

.zone-employees{
    height: 130px;
    overflow-y: auto;
    overflow: scroll;
    overflow-x: hidden;
}


.employees::-webkit-scrollbar{
    width: 0px;
}


.zone-employees::-webkit-scrollbar{
    width: 0px;
}

.employee:hover{
    background-color: antiquewhite;
}

.logo{
    width: 250px;
}

.add-zone{
    background-color: rgb(0, 180, 69);
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 20px;
    border-radius: 5px;
}

@media(max-width : 769px){
    .fix{
        grid-template-columns: 80%;
        justify-content: center;
    }
    .zones{
        padding: 30px;
    }
}