*{

}
body{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    align-items: center;
}

.fix{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 68%;
    gap: 10px;
}

.employe-containe{
    display: flex;
    flex-direction: column;
}

.employe-container,.zones{
    background-color: white;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.09);
}
.employees{
    margin-top: 10px;
    height: 560px;
    overflow-y: auto;
    overflow: scroll;
    overflow-x: hidden;
}

.add-employee{
    background-color: rgb(0, 180, 69);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    width: 70px;
    height: 25px;
}


.employee{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
}

.edit{
    background: none;
    border: none;
    color: orange;
    cursor: pointer;
}
.edit:hover{
    font-size: larger;
}

.rooms{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.zone{
    border: 1px solid black;
    padding: 20px 20px;
    border-radius: 30px;
    height: 224px;
    width: 354px;
    background-image: linear-gradient(to bottom, rgb(255, 163, 163), white);
}

.background{
    display: none;
    position: fixed;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900px;
    background-color: rgb(0, 0, 0, 0.4);
}

.input{
    display: none;
    border: 2px solid black;
    background-color: rgb(240, 240, 240);
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1000px;
    width: 350px;
    left: 50%;
    top: 50%;
    padding: 20px;
    border-radius: 10px;
}

input{
    margin: 10px;
    width: 300px;
    border: none;
    background-color: rgb(255, 255, 255);
    height: 30px;
    border-radius: 30px;
    padding-left: 10px;
}

select{
    margin: 10px;
    width: 300px;
    border: none;
    background-color: rgb(255, 255, 255);
    height: 30px;
    border-radius: 30px;
    padding-left: 10px;
}

#add{
    background: green;
    border: none;
    color: white;
    cursor: pointer;
    height: 20px;
    width: 60px;
}

#cancel{
    background: red;
    border: none;
    color: white;
    cursor: pointer;
    height: 20px;
    width: 60px;
}

.btnofpower{
    display: flex;
    gap: 10px;
    justify-content: end;
}

.info{
    display: hidden;
    display: none;
    border: 2px solid black;
    background-color: rgb(240, 240, 240);
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1000px;
    width: 350px;
    left: 50%;
    top: 50%;
    padding: 20px;
    border-radius: 10px;
}

.theinfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.theinfo h4{
    font-weight: bolder;
}

.quit{
    background: red;
    border: none;
    color: white;
    cursor: pointer;
    height: 20px;
    width: 60px;
}